<html>
    <body>
    <a href="/">Home</a>
        
    <h2>This is the Food Library About Page</h2>    
    
    <p>This online app will provide a means to record the food you purchased, search for a certain food item, list the food items via either purchase date, name, category, or expiry date, and edit listings. You will will also be able to add and delete food items. For future versions, I'd like automated emails when a food is with 72, 48, and/or 24 hours of expiry - so you'll remember to use it up!</p>
    
    <p>The goal in this app is to reduce food wastage.</p>    
    
    </body>
</html>